@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* clear defaults*/
* {box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}
/*Element Styles*/
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
/*For visibility, remove later*/
div{border: red 1px solid;}

/* Utility Class Styling*/
.flx-column {
    display: flex;
    flex-direction: column;
}
.flx-row{
    display: flex;
    flex-direction: row;
}
.align-center{
    display: flex;
  justify-content: center;
  align-items: center;
}
.text-center{
    text-align: center;
}
.hide-at-start{
    display: none;
}
/*Main Container and Title*/
.main-container{
    height: 100vh;
}
.title-block{
    
    height: 10vh;
    vertical-align: middle;
}
.title-block h1 {
    margin-top: 20px;
}


#play {
    position: absaolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height:50px;
    
    }

/*Gamer area Styles*/
.game-container {
    background: url('/assets/images/rulespage.png') center;
    background-size: cover;
    height: 70vh;
    width:
}

.player-choice{
    height: 80vh;
    width: 25vw;
    margin: auto;
}

.choice-button{
    height: 14vh;
    width: 25vw;
    font-size: 2em;
}

/*Results and score area*/

.result {
    width: 260px;
}



/*Media Queries*/

/*Smallest screens*/
@media screen and (max-width:480px) {
    h1{
        font-size: .9em;
        letter-spacing: .1px;
    }
    .player-choice{
            margin: auto;
            flex-direction: column;
        }
        .main-container{
            height: 100vh;
        width: 90vw;
    }
    .game-container {
       

        height: 70vh;
        width: 90vw;
    }
    }