.game{
    display: flex;
    flex-direction: row;
}
.player-turn {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: black solid 5px;
}
.player-choice {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: black solid 5px;
    cursor: pointer;
}
.computer-turn {
    width: 100px;
    height: 100px;
    background-color: magenta;
    border: black solid 5px;
}
